.bgc-1 {
  background-color: black;
}

.d-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bc-n400 {
  border-color: rgb(var(--n400)) !important;
}

// border style
.border {
  border: 1px solid transparent !important;
}

// input field
.input-area {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 32px;
  border-radius: 32px;
  background: rgb(var(--bg-3));
  gap: 8px;

  &.alt {
    background: rgb(var(--bg-1));

    input {
      &::placeholder {
        color: rgb(var(--n0));
        font-weight: 300;
      }

      &:-internal-autofill-selected {
        background-color: rgb(var(--bg-1)) !important;
      }
    }
  }

  @include maxQuery(480) {
    button {
      padding: 8px 32px;
    }
  }
}
.tcn-900 {
  color: rgb(var(--n900));
}
